* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}



.container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Nav Bar */
.top-nav {

    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    height: 80px;
}

.form-btn-send {
    cursor: pointer;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.links>li {
    margin-right: 20px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;

}


.links>li:last-child {
    margin-right: 0px;
}

.nav-button {
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    padding: 7px;
    border-radius: 2px;
    display: flex;
}

.top-nav p {
    color: white;
    font-weight: 700;
}

.nav-button:hover {

    color: #1ABC9C;
    cursor: pointer;
}

.top-nav2 {
    padding: 0.7rem;
    background-color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-nav2 p {
    color: gray;
}

.icons-nav2 img {
    margin-left: 2rem;
}

.icons-nav2 img {
    width: 3rem;
    height: 3rem;
}

.git-button {
    display: flex;
    align-items: center;

}

.git-button img {
    width: 12px;
    height: 12px;
}

.git-button button {
    background-color: #F0E3E7;
    color: #DC392D;
    height: 3rem;
    width: 10rem;
    margin-left: 15px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

/*  Hero */

.hero {
    background-color: #1ABC9C;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-content {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content img {
    width: 240px;
    height: 250px;

}

.hero-heading {
    font-size: 4rem;
}

.hero-text {
    margin-top: 2%;
}

.hero-img-text {
    align-items: center;
    text-align: center;
}

/* Portfolio section */
.portfolio {

    width: 100%;
    height: auto;
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.portfolio h1 {
    font-size: 3rem;
    color: #2C3E50;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr {
    font-weight: 900;
    color: #2C3E50;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1.6rem;
}

.card {
    width: 33%;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

}

.top-imgs {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;


}

.btm-imgs {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5px;
}

/* About section */

.about {
    color: white;
    background-color: #1ABC9C;
    align-content: center;
    justify-content: center;



}

.abt-title {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.h1-about {
    font-size: 4rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.h1-about hr {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.abt-content {
    display: flex;
    width: 50vw;
    height: auto;
    margin-top: 5%;
    margin: 0 auto;
    flex-direction: row;

}

.abt-content p {
    font-size: 1.25rem;
}

.abt-ctn-left {
    width: 80%;
}

.abt-ctn-right {
    width: 80%;
    margin-left: 1rem;
}

.abt-btn {
    margin: 0 auto;
    width: 20vw;
    justify-items: center;
    padding: 0.5rem;
    margin-top: 2%;


}

.abt-btn button {
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.25rem;

}



.contact-me-title {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.h1-ctn {
    font-size: 3rem;
    color: #2C3E50;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: rgb(133, 133, 133);
}

form input {
    color: rgb(133, 133, 133);
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 4vh;
}

.form-btn-send {
    width: 24%;
    height: 7vh;
    background-color: #1ABC9C;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
}

/* footer */

.footer-card {

    width: 33%;
    height: 20vh;
    padding: 1rem;
}

.top-footer {

    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #2C3E50;
    color: white;
    padding: 4rem;
    flex-wrap: wrap;
}

.footer-card {
    text-align: center;

}

.footer-card p {
    margin-top: 7px;
}

.bottom-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer-icons {
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    /* padding:0.3rem; */
    border-radius: 50px;

}

.footer-icons-container {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;


}

.alert {
    border: none;
    padding: 5rem;
    background-color: rgb(215, 113, 113);
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.link-footer{
    text-decoration: underline;
    color: #1ABC9C;
}
/* Media queries */

/* For mobile devices */
@media only screen and (min-width: 250px) and (max-width: 480px) {

    .container,
    body {
        width: 100%;
    }

    body {
        width: 100vw;
    }

    .top-nav {
        width: 100%;

    }

    .nav-button {
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .mobile-img {
        width: 240px !important;
        height: auto;
    }

    .hero-heading {
        /* display: flex;
        flex-direction: column; */
        width: 100%;
        font-size: 2rem;
        text-align: center;
margin: 0 auto;
/* margin-right:0.5rem ; */
        /* margin-right: 30vw; */
    }

    .portfolio {
        width: 100vw;
    }

    .port-h h1 {
        font-size: 2rem !important;
    }

    .cards {
        width: 100vw;
    }

    .card {
        width: 100%;
        margin-top: 10px;
    }

    .top-imgs {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .btm-imgs {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .top-nav2 {
        width: 100vw;
    }

    .container {
        width: 100vw;
    }

    .icons-nav2 {
        display: none;
    }
    .abt-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:0;
        padding:0;
    }
    .abt-content button{
        width:100px;
    }

    .abt-ctn-left {
        margin: 0 auto;
    }

    .abt-ctn-right {
        margin: 0 auto;
    }

    .contact-me {
        width: 100%;
    }

    .mobilesep {
        display: none;
    }



    .footer-card {
        width: 100%;
        margin-top: 20px;
    }

    .form-btn-send {
        width: 100%
    }
.footer-icons-container{
    width:100%;
}

.mobile-btn{
    width:100vw;
}





}
