* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

.hero{
    position:relative;
}

.container {
    padding: 0;
    width: 100%;
    height: 100vh;
}

.top-nav {

    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    height: 80px;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.links>li {
    margin-right: 20px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;

}


.links>li:last-child {
    margin-right: 0px;
}

.nav-button {
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    padding: 7px;
    border-radius: 2px;
}

.top-nav p {
    color: white;
    font-weight: 700;
}

.nav-button:hover {

    color: #1ABC9C;
}

.hero {
    background-color: #1ABC9C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero-content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content img {
    height: 35%;
    width: 18%;
}

.hero-heading {
    font-size: 5rem;
}

.hero-text {
    margin-top: 2%;
}

.portfolio {

    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio h1 {
    font-size: 5rem;
    color: #2C3E50;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.sep {
    width: 50%;
}

.cards {
 
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.card {

    width: 60%;
    height: auto;
    border-radius: 20px;
    /* margin: 5%; */

}

.top-imgs {
    width: 100%;

    display: flex;
    /* margin: 7%; */
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    margin-left: 7%;


}

.btm-imgs {
    width:100%;

    display: flex;
    margin-top: 6%;
    margin-left: 7%;
}

/* about section */

.about {
    color: white;
    background-color: #1ABC9C;
    align-content: center;
    justify-content: center;



}

.abt-title {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;



}

.h1-about {
    font-size: 5rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.abt-sep {
    width: 100%;
}

.abt-content {
    display: flex;
    width: 50vw;
    height: auto;
    margin-top: 5%;
    margin: 0 auto;
    
 
}

.abt-content p {
    font-size: 1.6rem;
}

.abt-ctn-left {

    width: 50%;
}

.abt-ctn-right {

    width: 50%;
    margin-left: 10px;
}

.abt-btn {
    margin: 0 auto;

    width: 10%;
    justify-items: center;
    padding: 0.5rem;
    margin-top: 2%;

}

.abt-btn button {
    width: 100%;
    height: 5%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}



.contact-me-title {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.h1-ctn {
    font-size: 5rem;
    color: #2C3E50;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    font-size: 2rem;
}

form input {

    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 4vh;
}

.form-btn-send {
    width: 24%;
    height: 7vh;
    background-color: #1ABC9C;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
}



.footer-card {

    width: 33%;
    height: 20vh;
    padding: 1rem;
}

.top-footer {

    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #2C3E50;
    color: white;
    padding: 4rem;
    flex-wrap: wrap;
}

.footer-card {
    text-align: center;

}

.footer-card p {
    margin-top: 7px;
}

.bottom-footer {
background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer-icons {
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    /* padding:0.3rem; */
    border-radius: 50px;

}

.footer-icons-container {
    border: 2px solid white;
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;


}

.alert{
    border:5px solid blue;
    padding:5rem;
    background-color: red;
    width:50%;
    margin: 0 auto;
    margin-top: 10px;
}


/* Media queries */

/* For mobile devices */
@media only screen and (min-width: 250px) and (max-width: 480px) {

    .top-nav {
width:100%;

    }

    .nav-button{
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:0.2rem;
        margin-right:0.2rem;
    }

    .mobile-img{
        width:240px !important;
        height:auto;
    }

    .hero-heading {
        display: flex;
        flex-direction: column;
        width:10%;
        font-size: 2rem;
        text-align: center;

        margin-right: 30vw;
    }

    .portfolio{
        width:100vw;
    }
    .port-h h1{
        font-size: 2rem !important;
    }
  .cards{
width:100vw;
  }

  .card{
    width:100%;
    margin-top: 10px;
  }
  .top-imgs{
    display: flex;
    flex-direction: column;
    margin:0 auto;
  }

  .btm-imgs{
    display: flex;
    flex-direction: column;
    margin:0 auto;
  }


}

/* For small Devices, Tablets */
@media only screen and (min-width : 540px) and (max-width :920px) {
   
}