*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color:#2C3E50 ;
    padding:4rem;
}
#output-msgs{

    /* border: 5px solid red; */
    border:none;
    margin:0 auto;
    width:50%;
    padding: 2rem;
    background-color: #1ABC9C;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight:700;
    color:white;
}